.main {
    /*margin-left: 160px;  Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    height: 100%;
}
.main:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    /*float: left;*/
    /*height: 110%;*/
}

.sidenav {
    float: left;
    width: 15%;
    position: absolute;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    height: 87%
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.products {
    width: 85%;
    float: right;
}

td {
    text-align: right;
}

.button3 {
    border-radius: 8px;
    background-color: #B0C4DE; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.searchInput {
  background-image: url('search.png');
  background-color: #f1f1f1;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#noop {
    width: 16px; 
    height: 10px; 
    background: lightgray;
}

.tableGif img {
    width: 100%;
    height: 550px;
}

.tableLoader {
    margin: 0 auto;
    border: 64px solid #f3f3f3;
    border-radius: 50%;
    border-top: 64px solid #3498db;
    width: 400px;
    height: 400px;
animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}